aws-cdk-lib==2.232.2
constructs>=10.0.0,<11.0.0
python-dotenv>=1.0.0
datetime
boto3
python-jose
pytest>=7
moto==5.1.17
pytest-freezegun
requests
aws-lambda-powertools
aws-xray-sdk

python-jose
requests

cdk-nag>=2.27.0

